.text1{
    font-family: sans-serif;
    text-align: center;
    font-size: 100px;
}
.button1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 250;
    text-decoration-color: white;
    
}
.wrapper{
    text-align: center;
}
.link1{
    color: white;
}
body{
    background-image: url(images/bg1.jpg);
}
.button1:hover{
    background-color: black;
    
}